/* Fuentes de texto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Colores principales */ 
$BG-dark: #2b1055;
$BG-ligth: #7597de;
$BG-sec: #1c0522;

/* Color por defecto */
$white: #ffffff;
$black: #000000;